<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head>
    <title>Таблиця підрозділів</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <!--  Social tags -->
    <meta name="keywords"
          content="Awesome Dashboard UI Kit, Bootstrap, Template, Theme, Freebies, MIT license, Free, Download">
    <meta name="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="author" content="htmlstream.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Awesome Dashboard UI Kit">
    <meta itemprop="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta itemprop="image" content="assets/img-temp/aduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlstream">
    <meta name="twitter:title" content="Awesome Dashboard UI Kit">
    <meta name="twitter:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="twitter:creator" content="@htmlstream">
    <meta name="twitter:image" content="assets/img-temp/aduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Htmlstream">
    <meta property="og:title" content="Awesome Dashboard UI Kit">
    <meta property="og:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta property="og:url" content="https://htmlstream.com/preview/awesome-dashboard-ui-kit/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img-temp/aduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img-temp/aduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/data-tables/datatables.min.css}">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<!-- End Head -->

<!-- Body -->
<body>
<!-- Header (Topbar) -->
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>
<!-- End Header (Topbar) -->

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(3)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <!-- Content Body -->
        <div class="u-body">
            <div style="display: flex; margin-bottom: 20px">
                <h1 style="margin-top: auto; margin-bottom: auto" class="h3 mb-2">Підрозділи</h1>
                <a style="margin-left: 30px;" type="button" class="btn bg-dark btn-pill text-light"
                   href="/units/create">
                    <span class="ti-pencil-alt"></span>
                    <span class="u-sidebar-nav-menu__item-title" style="margin-left: 5px">Додати</span>
                </a>

            </div>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Головна</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Підрозділи</li>
                </ol>
            </nav>
            <!-- End Breadcrumb -->

            <!-- Card -->
            <div class="card mb-5">

                <!-- Card Header -->

                <!-- End Card Header -->

                <!-- Crad Body -->
                <div class="card-body pt-0">
                    <!-- Table -->
                    <div class="table-responsive">
                        <br>
                        <table class="table table-hover mb-0 fold-table myTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Підрозділ</th>
                                <th>Подія</th>
                                <th>Опції</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="unit, num : ${units}">
                                <td class="font-weight-semi-bold" th:text="${num.count}">1</td>
                                <td class="font-weight-semi-bold">
                                    <div class="media align-items-center">
                                        <img class="u-avatar-xs rounded-circle mr-3" th:if="${unit.filename}" th:src="@{'/avatars/' + ${unit.filename}}" >
                                        <span class="media-body" th:text="${unit.nameUnit}"></span>
                                    </div>
                                </td>
                                <td class="font-weight-semi-bold">
                                    <form th:action="@{'/units/' + ${unit.id}}" method="post" enctype="multipart/form-data">
                                        <div style="display: flex; justify-content: space-around">
                                            <input type="file" name="file"/>
                                            <button type="submit" class="btn btn-primary btn-circle btn-with-icon mb-2 mr-2 mr-md-4">
                                                <snap class="btn-icon ti-import"></snap>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td class="text-center">
                                    <div style="display: flex">
                                        <a style="margin-left: 10px;" type="button"
                                           class="btn btn-outline-dark text-uppercase mb-2 mr-2"
                                           th:href="@{'/units/table/' + ${unit.id}}">Перейти
                                        </a>
                                        <a style="margin-left: 10px;" type="button"
                                           class="btn btn-outline-primary text-uppercase mb-2 mr-2"
                                           th:href="@{'/units/unit/edit/' + ${unit.id}}">Редагувати
                                        </a>
                                        <a style="margin-left: 10px;" type="button"
                                           class="btn btn-outline-danger text-uppercase mb-2 mr-2"
                                           th:href="@{'/units/unit/delete/' + ${unit.id}}">Видалити
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- End Table -->
                </div>
                <!-- Crad Body -->
            </div>
        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->


<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/data-tables/datatables.min.js}"></script>
<script th:src="@{/data-tables/datatables.js}"></script>

</body>
<!-- End Body -->
</html>