<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head>
    <title>Фільтр</title>


    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <script src="https://cdn.anychart.com/js/latest/anychart.min.js"></script>
</head>
<!-- End Head -->

<!-- Body -->
<body>
<!-- Header (Topbar) -->
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>
<!-- End Header (Topbar) -->

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(2)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <div class="u-body">
            <div style="display: flex; justify-content: space-between">
                <ul class="nav nav-tabs" id="demo-docs-tab" role="tablist" style="display: flex; flex-direction: row">
                    <li class="nav-item">
                        <a class="nav-link active" id="demo-docs-tab-tab1" data-toggle="tab"
                           href="#demo-docs-tab-tab1-content" role="tab" aria-controls="demo-docs-tab-tab1-content"
                           aria-selected="true">По підрозділам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="demo-docs-tab-tab2" data-toggle="tab" href="#demo-docs-tab-tab2-content"
                           role="tab" aria-controls="demo-docs-tab-tab2-content" aria-selected="false">По техніці</a>
                    </li>
                    <li class="nav-item" style="margin-left: 20px; display: flex; align-items: center"
                        id="load-spinner">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </li>
                </ul>
                <div>
                    <button type="button" class="btn btn-outline-primary" id="btnAll">Показати результат</button>
                    <button type="button" class="btn btn-outline-secondary" id="dtnSave">Зберегти PDF</button>
                    <button type="button" class="btn btn-outline-danger" id="btnClear">Очистити</button>
                </div>
            </div>
            <div class="tab-content" id="demo-docs-tabContent">
                <div class="tab-pane bg-light fade p-3 show active" id="demo-docs-tab-tab1-content" role="tabpanel"
                     aria-labelledby="demo-docs-tab-tab1">
                    <div id="selector-div" style="display: flex;">
                        <select class="selectpicker unit" data-size="10" multiple data-actions-box="true"
                                data-live-search="true" required="required" name="_units_1" id="_units_1">
                            <option th:each="unit : ${unitsParentNull}" th:value="${unit.id}"
                                    th:text="${unit.nameUnit}"></option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane bg-light fade p-3" id="demo-docs-tab-tab2-content" role="tabpanel"
                     aria-labelledby="demo-docs-tab-tab2">
                    <div id="selector-div-object" style="display: flex;">
                        <select class="selectpicker" data-size="10" data-live-search="true" multiple
                                data-actions-box="true"
                                required="required" name="_scope_" id="_scope_">
                            <option th:each="scope : ${scopes}" th:value="${scope.id}"
                                    th:text="${scope.scope}"></option>
                        </select>

                    </div>
                </div>
            </div>

            <!--фильтр-->
            <hr/>
            <br>
            <div class="row" id="div-table"></div>

        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>


<script th:src="@{/js/bootstrap-select.min.js}"></script>

<script th:src="@{/data-tables/datatables.min.js}"></script>
<script th:src="@{/data-tables/datatables.js}"></script>

<!--PDF-->
<script th:src="@{/js/html2pdf.bundle.min.js}"></script>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/tables.js}"></script>

</body>
<!-- End Body -->
</html>