<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head>
    <title th:text="|Таблиця засобів підрозділу ${unit.nameUnit}|"></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
<!--    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">-->

    <!--  Social tags -->
    <meta name="keywords"
          content="Awesome Dashboard UI Kit, Bootstrap, Template, Theme, Freebies, MIT license, Free, Download">
    <meta name="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="author" content="htmlstream.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Awesome Dashboard UI Kit">
    <meta itemprop="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta itemprop="image" content="assets/img-temp/aduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlstream">
    <meta name="twitter:title" content="Awesome Dashboard UI Kit">
    <meta name="twitter:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="twitter:creator" content="@htmlstream">
    <meta name="twitter:image" content="assets/img-temp/aduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Htmlstream">
    <meta property="og:title" content="Awesome Dashboard UI Kit">
    <meta property="og:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta property="og:url" content="https://htmlstream.com/preview/awesome-dashboard-ui-kit/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img-temp/aduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img-temp/aduik-preview.png">

    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/data-tables/datatables.min.css}">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link th:href="@{/filestyle/js/jquery-filestyle.min.css}" rel="stylesheet"/>
</head>
<!-- End Head -->

<!-- Body -->
<body>
<!-- Header (Topbar) -->
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>
<!-- End Header (Topbar) -->

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(3)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <!-- Content Body -->
        <div class="u-body">
            <div class="row">
                <div class="col-md-8 mb-7">
                    <div style="display: flex; margin-bottom: 20px">
                        <h1 style="margin-top: auto; margin-bottom: auto" class="h2 mb-2">Засоби зв'язку</h1>
                    </div>

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Головна</a></li>
                            <li class="breadcrumb-item"><a href="/units">Підрозділи</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${unit.nameUnit}"></li>
                        </ol>
                    </nav>
                    <!-- End Breadcrumb -->
                    <div style="display: flex; margin-bottom: 20px">
                        <h1 style="margin-top: auto; margin-bottom: auto" class="h3 mb-2"
                            th:text="${unit.nameUnit}"></h1>
                        <a style="margin-left: 30px;" type="button" class="btn bg-dark btn-pill text-light"
                           th:href="@{'/units/' + ${unit.id} + '/create'}">
                            <span class="ti-pencil-alt"></span>
                            <span class="u-sidebar-nav-menu__item-title" style="margin-left: 5px">Додати</span>
                        </a>

                        <a style="margin-left: 30px;" type="button" class="btn bg-danger btn-pill text-light"
                           th:href="@{'/units/' + ${unit.id} + '/deleteAll'}">
                            <span class="ti-trash"></span>
                            <span class="u-sidebar-nav-menu__item-title" style="margin-left: 5px">Видалити все</span>
                        </a>

                        <select class="custom-select" style="width: 180px; margin-left: 30px;" id="_date_">
                            <option value="all">Усі записи</option>
                            <option th:each="date : ${dateList}" th:value="${date}"
                                    th:text="${date}">Default select
                            </option>
                        </select>

                        <input type="text" id="idUnit" hidden readonly th:value="${unit.id}">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="user" style="margin-left: auto;">
                        <img th:src="@{${unit.filename != null ? '/avatars/' + unit.filename : '/avatars/default-avatar.jpg'}}" class="main-profile-img"/>
                        <span class="icon">
                            <a type="button" href="#exampleModalCenter" data-toggle="modal">
                                <i class="fa fa-edit" ></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <!-- Card Header -->
                <header class="card-header">
                </header>
                <!-- End Card Header -->

                <!-- Crad Body -->
                <div class="card-body pt-0">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 myTable" id="unitThingTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Засіб</th>
                                <th>За штатом</th>
                                <th>В наявності</th>
                                <th>Дата створення</th>
                                <th class="text-center">Подія</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="thing, num : ${unit.thingList}">
                                <td th:text="${num.count}"></td>
                                <td th:text="${thing.object.objectName}"></td>
                                <td th:text="${thing.generalNeed}"></td>
                                <td  th:text="${thing.generalHave}"></td>
                                <td th:if="${thing.localDate != null}"
                                    th:text="|${thing.localDate.getDayOfMonth()}.${thing.localDate.getMonthValue()}.${thing.localDate.getYear()}|"></td>
                                <td th:if="${thing.localDate == null}"></td>
                                <td>
                                    <a style="margin-left: 10px;" type="button"
                                       class="btn btn-outline-primary text-uppercase mb-2 mr-2"
                                       th:href="@{'/units/edit/'+ ${thing.id}}">Редагувати</a>
                                    <a style="margin-left: 10px;" type="button"
                                       class="btn btn-outline-danger text-uppercase mb-2 mr-2"
                                       th:href="@{'/units/delete/' + ${thing.id}}">Видалити</a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- End Table -->
                </div>
                <!-- Crad Body -->
            </div>

        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<!-- Vertically Centered Modals -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Дію над зображенням підрозділу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="test" type="file" name="file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                    <a type="button" class="btn btn-danger"
                       th:href="@{'/units/delete-avatar/' + ${unit.id}}">
                        Видалити
                    </a>
                    <button type="submit" class="btn btn-primary">Завантажити</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- End Vertically Centered Modals -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>

<script th:src="@{/data-tables/datatables.min.js}"></script>
<script th:src="@{/data-tables/datatables.js}"></script>

<script type="text/javascript" th:src="@{/filestyle/js/jquery-filestyle.min.js}"></script>

<script th:src="@{/filestyle/js/input.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
<!-- End Body -->
</html>