<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагувати область застосування</title>


    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(7)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <!-- Content Body -->
        <div class="u-body">
            <form class="h-100" th:action="@{/object/scope/edit/save}"  method="post" >
                <div style="display: flex; margin-bottom: 20px">
                    <h1 style="margin-top: auto; margin-bottom: auto" class="h2 mb-2">Створення</h1>
                    <button style="margin-left: 10px;" name="saveScope" class="btn btn-success btn-pill">Зберегти</button>
                </div>

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Головна</a></li>
                        <li class="breadcrumb-item"><a href="/object">Техніка</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Створення</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="row">
                    <div class="col-md-6 mb-5">
                        <!-- Card -->
                        <div class="card h-100">
                            <!-- Card Header -->
                            <header class="card-header">
                                <h2 class="h4 card-header-title">Область застосування</h2>
                            </header>
                            <!-- End Card Header -->
                            <input type="hidden" readonly="readonly" th:field="*{scope.id}">


                            <!-- Card Body -->
                            <div class="card-body pt-0">

                                <!-- Disabled Text -->
                                <div class="form-group">
                                    <label for="exampleInputText">Назва</label>
                                    <input id="exampleInputText" class="form-control" type="text"
                                           placeholder="Назва" required th:field="*{scope.scope}">
                                </div>
                                <!-- End Disabled Text -->


                            </div>
                            <!-- End Card Body -->
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </form>
        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>

<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>