<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагувати підрозділ</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <!--  Social tags -->
    <meta name="keywords"
          content="Awesome Dashboard UI Kit, Bootstrap, Template, Theme, Freebies, MIT license, Free, Download">
    <meta name="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="author" content="htmlstream.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Awesome Dashboard UI Kit">
    <meta itemprop="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta itemprop="image" content="assets/img-temp/aduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlstream">
    <meta name="twitter:title" content="Awesome Dashboard UI Kit">
    <meta name="twitter:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="twitter:creator" content="@htmlstream">
    <meta name="twitter:image" content="assets/img-temp/aduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Htmlstream">
    <meta property="og:title" content="Awesome Dashboard UI Kit">
    <meta property="og:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta property="og:url" content="https://htmlstream.com/preview/awesome-dashboard-ui-kit/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img-temp/aduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img-temp/aduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(3)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <!-- Content Body -->
        <div class="u-body">
            <form class="h-100" id="form" th:action="${unit.parentUnit == null ? '/units/unit/saveNull' : '/units/unit/save'}" th:object="${unit}" method="post">
                <div style="display: flex; margin-bottom: 20px">
                    <h1 style="margin-top: auto; margin-bottom: auto" class="h2 mb-2">Створення</h1>
                    <button style="margin-left: 10px;" class="btn btn-success btn-pill">Зберегти</button>
                </div>

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Головна</a></li>
                        <li class="breadcrumb-item"><a href="/units">Підрозділи</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Створення</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="row">
                    <div class="col-md-6 mb-5">
                        <!-- Card -->
                        <div class="card h-100">
                            <!-- Card Header -->
                            <header class="card-header">
                                <h2 class="h4 card-header-title">Підрозділ</h2>
                            </header>
                            <!-- End Card Header -->

                            <!-- Card Body -->
                            <div class="card-body pt-0">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio2" value="option2" th:checked="${unit.parentUnit != null}">
                                    <label class="form-check-label" for="inlineRadio2">Підпорядкований</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio1" value="option1" th:checked="${unit.parentUnit == null}">
                                    <label class="form-check-label" for="inlineRadio1">Не підпорядкований</label>
                                </div>


                                <input type="hidden" readonly="readonly" th:field="*{id}">
                                <input type="hidden" readonly="readonly" th:field="*{parentUnit}">
                                <input type="hidden" readonly="readonly" th:field="*{thingList}">

                                <!-- Text -->
                                <div class="form-group">
                                    <br>
                                    <label>Підпорядкованість</label>
                                    <select class="custom-select" required="required" th:field="*{parentUnit}" th:disabled="${unit.parentUnit == null}" id="sel1">
                                        <option th:each="unit, num: ${units}" th:value="${unit.id}"
                                                th:text="${unit.nameUnit}">Default select
                                        </option>
                                    </select>
                                </div>
                                <!-- End Text -->


                                <div class="form-group">
                                    <label for="exampleInputText4">Назва</label>
                                    <input id="exampleInputText4" class="form-control" type="text"
                                           placeholder="Назва" th:field="*{nameUnit}">
                                </div>


                            </div>
                            <!-- End Card Body -->
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </form>
        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>

<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>