<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head>
    <title>Profile | Awesome Dashboard UI Kit</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <!--  Social tags -->
    <meta name="keywords"
          content="Awesome Dashboard UI Kit, Bootstrap, Template, Theme, Freebies, MIT license, Free, Download">
    <meta name="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="author" content="htmlstream.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Awesome Dashboard UI Kit">
    <meta itemprop="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta itemprop="image" content="img-temp/aduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlstream">
    <meta name="twitter:title" content="Awesome Dashboard UI Kit">
    <meta name="twitter:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="twitter:creator" content="@htmlstream">
    <meta name="twitter:image" content="img-temp/aduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Htmlstream">
    <meta property="og:title" content="Awesome Dashboard UI Kit">
    <meta property="og:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta property="og:url" content="https://htmlstream.com/preview/awesome-dashboard-ui-kit/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="img-temp/aduik-preview.png">
    <meta property="og:image:secure_url" content="img-temp/aduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/filestyle/js/jquery-filestyle.min.css}" rel="stylesheet"/>
</head>
<!-- End Head -->

<!-- Body -->
<body>
<!-- Header (Topbar) -->
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>
<!-- End Header (Topbar) -->

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(null)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <!-- Content Body -->
        <div class="u-body">
            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <!-- Card -->
                    <div class="card mb-5">
                        <!-- Card Image -->
                        <img class="card-img-top" th:src="@{/img-temp/500x280/img4.jpg}" alt="Image Description">
                        <!-- End Card Image -->

                        <!-- Card Body -->
                        <div class="card-body text-center pt-0">
                            <div class="col-md-4 mb-3">
                                <div class="user" style="margin-left: auto;">
                                    <img th:src="@{/img/default-avatar.png}"
                                         class="main-profile-img"/>
                                    <span class="icon">
                                        <a type="button" href="#exampleModalCenter" data-toggle="modal"><i class="fa fa-edit"></i></a>
                                    </span>
                                </div>
                            </div>
                            <h3 class="mb-1" th:text="${user.name}">Robert Drake</h3>

                            <!-- Social Media -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mx-2">
                                    <a class="u-icon-sm text-facebook" href="#">
                                        <span class="ti-facebook"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-2">
                                    <a class="u-icon-sm text-twitter" href="#">
                                        <span class="ti-twitter-alt"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-2">
                                    <a class="u-icon-sm text-slack" href="#">
                                        <span class="ti-dropbox"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-2">
                                    <a class="u-icon-sm text-linkedin" href="#">
                                        <span class="ti-linkedin"></span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Social Media -->
                        </div>
                        <!-- End Card Body -->

                    </div>
                    <!-- End Card -->


                    <!-- Card -->
                    <div class="card mb-5">
                        <!-- Card Header -->
                        <header class="card-header">
                            <h2 class="h4 card-header-title">Contacts</h2>
                        </header>
                        <!-- End Card Header -->

                        <!-- Card Body -->
                        <div class="card-body py-0">
                            <!-- Flushed List Group -->
                            <ul class="list-group list-group-flush">
                                <!-- List Group Item -->
                                <li class="list-group-item border-0">
                                    <a class="media link-dark align-items-center" href="#">
                                        <!-- Avatar -->
                                        <img class="u-avatar-sm rounded-circle mr-3"
                                             th:src="@{/img-temp/avatars/img1.jpg}" alt="Image description">
                                        <!-- End Avatar -->

                                        <!-- Title and Short Text -->
                                        <div class="media-body">
                                            <h4 class="font-weight-normal pt-1 mb-1">Marcus Hampton</h4>
                                            <div class="text-muted">Manager</div>
                                        </div>
                                        <!-- End Title and Short Text -->
                                    </a>
                                </li>
                                <!-- End List Group Item -->

                                <!-- List Group Item -->
                                <li class="list-group-item border-0">
                                    <a class="media link-dark align-items-center" href="#">
                                        <!-- Avatar -->
                                        <img class="u-avatar-sm rounded-circle mr-3"
                                             th:src="@{/img-temp/avatars/img2.jpg}" alt="Image description">
                                        <!-- End Avatar -->

                                        <!-- Title and Short Text -->
                                        <div class="media-body">
                                            <h4 class="font-weight-normal pt-1 mb-1">Estelle Maldonado</h4>
                                            <div class="text-muted">Designer</div>
                                        </div>
                                        <!-- End Title and Short Text -->
                                    </a>
                                </li>
                                <!-- End List Group Item -->

                                <!-- List Group Item -->
                                <li class="list-group-item border-0">
                                    <a class="media link-dark align-items-center" href="#">
                                        <!-- Avatar -->
                                        <img class="u-avatar-sm rounded-circle mr-3"
                                             th:src="@{/img-temp/avatars/img3.jpg}" alt="Image description">
                                        <!-- End Avatar -->

                                        <!-- Title and Short Text -->
                                        <div class="media-body">
                                            <h4 class="font-weight-normal pt-1 mb-1">Raymond Carlson</h4>
                                            <div class="text-muted">Developer</div>
                                        </div>
                                        <!-- End Title and Short Text -->
                                    </a>
                                </li>
                                <!-- End List Group Item -->

                                <!-- List Group Item -->
                                <li class="list-group-item border-0">
                                    <a class="media link-dark align-items-center" href="#">
                                        <!-- Avatar -->
                                        <img class="u-avatar-sm rounded-circle mr-3"
                                             th:src="@{/img-temp/avatars/img4.jpg}" alt="Image description">
                                        <!-- End Avatar -->

                                        <!-- Title and Short Text -->
                                        <div class="media-body">
                                            <h4 class="font-weight-normal pt-1 mb-1">Joel Stevenson</h4>
                                            <div class="text-muted">Sales manager</div>
                                        </div>
                                        <!-- End Title and Short Text -->
                                    </a>
                                </li>
                                <!-- End List Group Item -->

                                <!-- List Group Item -->
                                <li class="list-group-item border-0">
                                    <a class="media link-dark align-items-center" href="#">
                                        <!-- Avatar -->
                                        <img class="u-avatar-sm rounded-circle mr-3"
                                             th:src="@{/img-temp/avatars/user-unknown.jpg}" alt="Image description">
                                        <!-- End Avatar -->

                                        <!-- Title and Short Text -->
                                        <div class="media-body">
                                            <h4 class="font-weight-normal pt-1 mb-1">Bradley Santiago</h4>
                                            <div class="text-muted">Developer</div>
                                        </div>
                                        <!-- End Title and Short Text -->
                                    </a>
                                </li>
                                <!-- End List Group Item -->
                            </ul>
                            <!-- End Flushed List Group -->
                        </div>
                        <!-- End Card Body -->

                        <!-- Card Footer -->
                        <footer class="card-footer">
                            <a class="font-weight-semi-bold" href="#">View all contacts</a>
                        </footer>
                        <!-- End Card Footer -->
                    </div>
                    <!-- End Card -->
                </div>

                <div class="col-md-7 col-lg-8">

                    <!-- Card -->
                    <div class="card mb-5">
                        <!-- Card Header -->
                        <header class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <h2 class="h4 card-header-title">Інформація про користувача</h2>
                            </div>
                        </header>
                        <!-- End Card Header -->

                        <form th:action="@{/account/save}" method="post" th:object="${user}">
                            <!-- Card Body -->
                            <div class="card-body py-0">
                                <!-- Simple List Group -->
                                <ul class="list-group">
                                    <!-- List Group Item -->
                                    <li class="list-group-item px-3">
                                        <div class="media align-items-center">
                                            <!-- Title -->
                                            <div class="media-body">
                                                <h4 class="font-weight-normal mb-1" style="display:flex; justify-content: center">Логін</h4>
                                                <input id="login" class="form-control form-pill" type="text" placeholder="Логін" th:field="*{username}">
                                            </div>
                                            <!-- End Title -->

                                        </div>
                                    </li>
                                    <!-- End List Group Item -->

                                    <!-- List Group Item -->
                                    <li class="list-group-item px-3">
                                        <div class="media align-items-center">
                                            <!-- Title -->
                                            <div class="media-body">
                                                <h4 class="font-weight-normal mb-1" style="display:flex; justify-content: center">Пароль</h4>
                                                <input id="pass" class="form-control form-pill" type="password" placeholder="Пароль" th:field="*{password}">
                                            </div>
                                            <!-- End Title -->

                                        </div>
                                    </li>

                                </ul>
                                <!-- End Simple List Group -->
                            </div>
                            <!-- End Card Body -->

                            <!-- Card Footer -->
                            <footer class="card-footer d-flex align-items-center justify-content-between">

                                <div class="col-md-6 mb-2 mb-md-0">
                                    <input type="submit" value="Зберегти" class="btn btn-block btn-primary"/>
                                </div>

                            </footer>
                            <!-- End Card Footer -->
                        </form>

                    </div>
                    <!-- End Card -->

                </div>
            </div>
        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<!-- Vertically Centered Modals -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Дію над зображенням підрозділу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="test" type="file" name="file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
                    <a type="button" class="btn btn-danger" href="#">
                        Видалити зображення
                    </a>
                    <button type="submit" class="btn btn-primary">Завантажити</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- End Vertically Centered Modals -->
<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" th:src="@{/filestyle/js/jquery-filestyle.min.js}"></script>
<script th:src="@{/filestyle/js/input.js}"></script>
<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
<!-- End Body -->
</html>