<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Створити</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <!--  Social tags -->
    <meta name="keywords"
          content="Awesome Dashboard UI Kit, Bootstrap, Template, Theme, Freebies, MIT license, Free, Download">
    <meta name="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="author" content="htmlstream.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Awesome Dashboard UI Kit">
    <meta itemprop="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta itemprop="image" content="assets/img-temp/aduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlstream">
    <meta name="twitter:title" content="Awesome Dashboard UI Kit">
    <meta name="twitter:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="twitter:creator" content="@htmlstream">
    <meta name="twitter:image" content="assets/img-temp/aduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Htmlstream">
    <meta property="og:title" content="Awesome Dashboard UI Kit">
    <meta property="og:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta property="og:url" content="https://htmlstream.com/preview/awesome-dashboard-ui-kit/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img-temp/aduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img-temp/aduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(2)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <!-- Content Body -->
        <div class="u-body">
            <form class="h-100" th:action="@{/table/create}" th:object="${thing}" method="post">
                <h4 class="text-center text-danger mb-4" th:if="${param.error}">Невірні данні!</h4>
                <div style="display: flex; margin-bottom: 20px">
                    <h1 style="margin-top: auto; margin-bottom: auto" class="h2 mb-2">Створення</h1>
                    <button style="margin-left: 30px;"  class="btn btn-primary btn-pill" name="addThing">Додати</button>
                    <button style="margin-left: 10px;"  class="btn btn-success btn-pill" name="save">Зберегти</button>
                </div>

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Головна</a></li>
                        <li class="breadcrumb-item"><a href="/table">Таблиця</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Створення</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="row">
                    <div class="col-md-6 mb-5">
                        <!-- Card -->
                        <div class="card h-100">
                            <!-- Card Header -->
                            <header class="card-header">
                                <h2 class="h4 card-header-title">Основний</h2>
                            </header>
                            <!-- End Card Header -->

                            <!-- Card Body -->
                            <div class="card-body pt-0">
                                <!-- Text -->
                                <div class="form-group">
                                    <label>Область застосування</label>
                                    <select class="custom-select" required="required" name="_scope0_" id="_scope0_">
                                        <option th:each="scope : ${scops}" th:value="${scope.id}"
                                                th:text="${scope.scope}">Default select
                                        </option>
                                    </select>
                                </div>
                                <!-- End Text -->

                                <!-- Input with Left Icon -->
                                <div class="form-group">
                                    <label>Вид</label>

                                    <select class="custom-select" id="_type0_" name="_type0_" required="required">
                                        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}">
                                            Default select
                                        </option>
                                    </select>

                                </div>
                                <!-- End Input with Left Icon -->

                                <!-- Input with Right Icon -->
                                <div class="form-group">
                                    <label>Засіб</label>

                                    <select class="custom-select" required="required" name="_object0_" id="_object0_" th:field="*{object}">
                                        <option th:each="object : ${objects}" th:value="${object.id}"
                                                th:text="${object.objectName}">Default select
                                        </option>
                                    </select>
                                </div>
                                <!-- End Input with Right Icon -->

                                <hr class="my-4">

                                <!-- Disabled Text -->
                                <div class="form-group">
                                    <label for="exampleInputText4">Ціна</label>
                                    <input id="exampleInputText4" class="form-control" type="text"
                                           placeholder="Ціна" th:field="*{price}">
                                    <small class="form-text text-muted">в гривнях</small>
                                </div>
                                <!-- End Disabled Text -->

                                <!-- Success Text -->
                                <div class="form-group">
                                    <label>Категорія</label>
                                    <select class="custom-select" th:field="*{category}">
                                        <option th:value="'1'" th:text="1"></option>
                                        <option th:value="'2'" th:text="2"></option>
                                        <option th:value="'3'" th:text="3"></option>
                                        <option th:value="'4'" th:text="4"></option>
                                        <option th:value="'5'" th:text="5"></option>
                                    </select>
                                    <div class="valid-feedback">Success feedback.</div>
                                </div>
                                <!-- End Success Text -->

                                <!-- Error Text -->
                                <div class="form-group">
                                    <label>Стан</label>
                                    <div class="input-group">
                                        <div class="custom-control custom-radio form-check-inline" style="margin-left: 15px" th:each="state : ${states}">
                                            <input class="custom-control-input" th:field="*{state}" type="radio" name="inlineRadioOptions"
                                                   th:id="|${state.id}inlineRadio|" th:value="${state.id}" checked="checked">
                                            <label class="custom-control-label" th:for="|${state.id}inlineRadio|" th:text="${state.state}">1</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Error Text -->
                            </div>
                            <!-- End Card Body -->
                        </div>
                        <!-- End Card -->
                    </div>
                    <div class="col-md-6 mb-5" th:each="thing, rowStat : ${thing.things}">
                        <!-- Card -->
                        <div class="card h-100">
                            <!-- Card Header -->
                            <header class="card-header">
                                <div style="display: flex;">
                                    <h2 style="margin-top: auto; margin-bottom: auto" class="h4 card-header-title">Вкладений</h2>
                                    <button style="margin-left: 30px;"
                                            class="btn btn-primary btn-pill"
                                            name="removeThing"
                                            th:value="${rowStat.index}">Видалити</button>
                                </div>
                            </header>
                            <!-- End Card Header -->

                            <!-- Card Body -->
                            <div class="card-body pt-0">
                                <!-- Text -->
                                <div class="form-group">
                                    <label>Область застосування</label>
                                    <select class="custom-select">
                                        <option th:each="scope : ${scops}" th:value="${scope.id}"
                                                th:text="${scope.scope}">Default select
                                        </option>
                                    </select>
                                </div>
                                <!-- End Text -->

                                <!-- Input with Left Icon -->
                                <div class="form-group">
                                    <label>Вид</label>

                                    <select class="custom-select">
                                        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}">
                                            Default select
                                        </option>
                                    </select>
                                </div>
                                <!-- End Input with Left Icon -->

                                <input type="hidden" th:field="${thing.things[__${rowStat.index}__].id}">
                                <!-- Input with Right Icon -->
                                <div class="form-group">
                                    <label>Засіб</label>

                                    <select class="custom-select" th:field="${thing.things[__${rowStat.index}__].object}">
                                        <option th:each="object : ${objects}" th:value="${object.id}"
                                                th:text="${object.objectName}">Default select
                                        </option>
                                    </select>
                                </div>
                                <!-- End Input with Right Icon -->

                                <hr class="my-4">

                                <!-- Disabled Text -->
                                <div class="form-group">
                                    <label th:for="|exampleInputText${rowStat.index}|">Ціна</label>
                                    <input th:id="|exampleInputText${rowStat.index}|" class="form-control" type="text"
                                           placeholder="Ціна" th:field="${thing.things[__${rowStat.index}__].price}">
                                    <small class="form-text text-muted">в гривнях</small>
                                </div>
                                <!-- End Disabled Text -->

                                <!-- Success Text -->
                                <div class="form-group">
                                    <label>Категорія</label>
                                    <select class="custom-select" th:field="${thing.things[__${rowStat.index}__].category}">
                                        <option th:value="'1'" th:text="1"></option>
                                        <option th:value="'2'" th:text="2"></option>
                                        <option th:value="'3'" th:text="3"></option>
                                        <option th:value="'4'" th:text="4"></option>
                                        <option th:value="'5'" th:text="5"></option>
                                    </select>
                                    <div class="valid-feedback">Success feedback.</div>
                                </div>
                                <!-- End Success Text -->

                                <!-- Error Text -->
                                <div class="form-group">
                                    <label>Стан</label>
                                    <div class="input-group">
                                        <div class="custom-control custom-radio form-check-inline" style="margin-left: 15px" th:each="state : ${states}">
                                            <input class="custom-control-input" th:field="${thing.things[__${rowStat.index}__].state}"
                                                   type="radio" name="inlineRadioOptions"
                                                   th:id="|${state.id}inlineRadio${rowStat.index}|"
                                                   th:value="${state.id}" checked="checked">
                                            <label class="custom-control-label" th:for="|${state.id}inlineRadio${rowStat.index}|" th:text="${state.state}">1</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Error Text -->
                            </div>
                            <!-- End Card Body -->
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </form>
        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>

<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>