<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head>
    <title>Tables | Awesome Dashboard UI Kit</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <!--  Social tags -->
    <meta name="keywords"
          content="Awesome Dashboard UI Kit, Bootstrap, Template, Theme, Freebies, MIT license, Free, Download">
    <meta name="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="author" content="htmlstream.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Awesome Dashboard UI Kit">
    <meta itemprop="description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta itemprop="image" content="assets/img-temp/aduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlstream">
    <meta name="twitter:title" content="Awesome Dashboard UI Kit">
    <meta name="twitter:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta name="twitter:creator" content="@htmlstream">
    <meta name="twitter:image" content="assets/img-temp/aduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Htmlstream">
    <meta property="og:title" content="Awesome Dashboard UI Kit">
    <meta property="og:description" content="Awesome Dashboard UI Kit crafted by Htmlstream">
    <meta property="og:url" content="https://htmlstream.com/preview/awesome-dashboard-ui-kit/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img-temp/aduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img-temp/aduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" th:href="@{/vendor/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">

    <!-- Theme Styles -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
</head>
<!-- End Head -->

<!-- Body -->
<body>
<!-- Header (Topbar) -->
<header th:replace="~{fragments/slide-bar :: header(${user})}"></header>
<!-- End Header (Topbar) -->

<!-- Main -->
<main class="u-main">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/slide-bar :: bar(2)}"></aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="u-content">
        <div class="u-body">
            <div style="display: flex; justify-content: space-between">
                <ul class="nav nav-tabs" id="demo-docs-tab" role="tablist" style="display: flex; flex-direction: row">
                    <li class="nav-item">
                        <a class="nav-link active" id="demo-docs-tab-tab1" data-toggle="tab"
                           href="#demo-docs-tab-tab1-content" role="tab" aria-controls="demo-docs-tab-tab1-content"
                           aria-selected="true">По підрозділам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="demo-docs-tab-tab2" data-toggle="tab" href="#demo-docs-tab-tab2-content"
                           role="tab" aria-controls="demo-docs-tab-tab2-content" aria-selected="false">По техніці</a>
                    </li>
                    <li class="nav-item" style="margin-left: 20px; display: flex; align-items: center"
                        id="load-spinner">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </li>
                </ul>
                <div>
                    <button type="button" class="btn btn-outline-primary" id="btnAll">Показати результат</button>
                    <button type="button" class="btn btn-outline-danger" id="btnClear">Очистити</button>
                </div>
            </div>
            <div class="tab-content" id="demo-docs-tabContent">
                <div class="tab-pane bg-light fade p-3 show active" id="demo-docs-tab-tab1-content" role="tabpanel"
                     aria-labelledby="demo-docs-tab-tab1">
                    <div id="selector-div" style="display: flex;">
                        <select class="selectpicker unit" data-size="10" multiple data-actions-box="true"
                                data-live-search="true" required="required" name="_units_1" id="_units_1">
                            <option th:each="unit : ${unitsParentNull}" th:value="${unit.id}"
                                    th:text="${unit.nameUnit}"></option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane bg-light fade p-3" id="demo-docs-tab-tab2-content" role="tabpanel"
                     aria-labelledby="demo-docs-tab-tab2">
                    <div id="selector-div-object" style="display: flex;">
                        <select class="selectpicker" data-size="10" data-live-search="true" multiple
                                data-actions-box="true"
                                required="required" name="_scope_" id="_scope_">
                            <option th:each="scope : ${scopes}" th:value="${scope.id}"
                                    th:text="${scope.scope}"></option>
                        </select>

                    </div>
                </div>
            </div>

            <!--фильтр-->
            <hr/>
            <br>
            <div id="div-table"></div>
        </div>
        <!-- End Content Body -->

        <!-- Footer -->
        <footer th:replace="~{fragments/slide-bar :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Content -->
</main>
<!-- End Main -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Global Vendor -->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
<script th:src="@{/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Initialization  -->
<script th:src="@{/js/sidebar-nav.js}"></script>


<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/data-tables/datatables.min.js}"></script>
<script th:src="@{/data-tables/datatables.js}"></script>


<!--&lt;!&ndash; (Optional) Latest compiled and minified JavaScript translation files &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>-->
<!--https://github.com/snapappointments/bootstrap-select/tree/v1.14-dev/dist/js/i18n-->

</body>
<!-- End Body -->
</html>